@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #190e68;
}
#page2 {
  width: 100%;
  height: 70vh;
  position: relative;
  background-color: white;
}
#page3 {
  width: 100%;
  height: 90vh;
  position: relative;
  /* background-color: yellow; */
  background-color: #00204a;
  color: white;
}
#page4 {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: white;
}
#page5 {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: #190e68;
}
#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #190e68;
}
.nav1 {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.nav1 h3 {
  padding: 0 15px;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
}
.nav2 {
  /* width: 100%; */
  position: relative;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav2 ul {
  width: 100%;
  list-style: none;
}
.nav2 li {
  width: auto;
  float: left;
  position: relative;
}
.nav2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 15px;
}
.nav2 a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav2 a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.page1-container1 {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  /* background-color: pink; */
}
.page1-container1-part1 {
  width: 50%;
  height: 100%;
  position: relative;
  /* background-color: blue; */
}
.page1-container1-part2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  /* background-color: blueviolet; */
}
.page1-part1-text {
  position: absolute;
  top: 33%;
  left: 10%;
}
.page1-part1-text h1 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
  color: white;
}
.page1-part1-text p {
  color: white;
  padding: 10px 0;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
}
#btn1 {
  background-color: #00bbf0;
  color: white;
  width: 160px;
  cursor: pointer;
  height: 40px;
  border: none;
  margin-top: 10px;
  transition: all ease-in-out 0.4s;
}
#btn1:hover {
  opacity: 0.7;
}
.img-container1 {
  width: 80%;
  height: 80%;
  position: relative;
  /* background-color: white; */
}
.img-container1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 1s;
  animation: upDown linear infinite 5s;
}
@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

/* Page 2 */

.page2-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}
.page2-container1-part1 {
  width: 80%;
  height: 80%;
  text-align: center;
  position: relative;
  background-color: white;
}
.page2-container1-part1 h2 {
  padding: 5px 0;
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
  letter-spacing: 1px;
}
.page2-container1-part1 span {
  color: #00bbf0;
}
.page2-container1-part1 p {
  padding: 10px 0;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
  letter-spacing: 1px;
}
.inline-block1 {
  display: inline-block;
}
.page2-part1-child {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.page2-child-inner {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f9;
}
.page2-child-inner h5 {
  padding-top: 7px;
  font-size: clamp(0.5rem, -0.4375rem + 2vw, 0.9375rem);
}
.page2-child-inner p {
  font-size: clamp(0.3125rem, -0.3571rem + 1.4286vw, 0.625rem);
}
.page2-child-inner a {
  font-size: clamp(0.3125rem, -0.3571rem + 1.4286vw, 0.625rem);
  text-decoration: none;
  color: #17204a;
}

/* Page 3 */

.page3-headline {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}
.page3-headline h1 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
}
.page3-headline span {
  color: #00bbf0;
}
.page3-headline p {
  padding: 7px 0;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
}
.page3-container1 {
  width: 100%;
  height: calc(100% - 20%);
  display: flex;
  /* background-color: salmon; */
}
.page3-container1-part1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightseagreen; */
}
.page3-container1-part2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: slateblue; */
}
.img-container2 {
  width: 80%;
  height: 90%;
  position: relative;
  bottom: 10%;
  /* background-color: pink; */
}
.img-container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container2 {
  width: 80%;
  height: 80%;
  /* background-color: pink; */
}
#btn2 {
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #00bbf0;
  color: white;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
#btn2:hover {
  opacity: 0.7;
}

/* Page 4 */

.page4-healine {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.page4-healine h1 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
  color: black;
}
.page4-healine span {
  color: #00bbf0;
}
.page4-container1 {
  width: 100%;
  height: calc(100% - 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.profile-container {
  width: 90%;
  height: 70%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* background-color: peachpuff; */
}
.profile1 {
  width: 25%;
  height: 100%;
  position: relative;
  overflow: scroll;
  /* background-color: sienna; */
}
.profile1::-webkit-scrollbar {
  display: none;
}
.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  object-fit: cover;
}
.card .title {
  color: grey;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
}
#btn3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 4px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: clamp(0.875rem, -1rem + 4vw, 1.45rem);
}
.anchor {
  text-decoration: none;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
  color: black;
}
#btn:hover,
.anchor:hover {
  opacity: 0.7;
}
.card-h1 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
}

/* Page 5 : Footer */

.container99 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #190e68;
  padding: 70px 0;
}
.footer-col {
  width: 23%;
  padding: 0 10px;
}
.footer-col h4 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a img {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* Mobile View */

@media only screen and (max-width: 768px) {
  .nav2 ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav2 ul.active {
    display: flex;
    flex-direction: column;
    left: 0;
  }

  .nav2 li {
    width: auto;
    float: left;
    position: relative;
  }
  .nav2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: start;
    text-align: center;
    padding: 10px 15px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .page1-container1 {
    width: 100%;
    height: calc(100% - 80px);
    display: block;
    /* background-color: pink; */
  }
  .page1-container1-part1 {
    width: 100%;
    height: 50%;
    /* background-color: blue; */
  }
  .page1-container1-part2 {
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
  }
  #page2 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: pink;
  }
  .page2-part1-child {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .page2-child-inner {
    width: 50%;
    height: 30%;
    background-color: #f8f8f9;
  }
  .page3-headline {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
  }
  .img-container2 {
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 0%;
    /* background-color: pink; */
  }
  .page3-container1 {
    width: 100%;
    height: calc(100% - 10%);
    display: block;
    /* background-color: salmon; */
  }
  .page3-container1-part1 {
    width: 100%;
    height: 50%;
    /* background-color: lightseagreen; */
  }
  .page3-container1-part2 {
    width: 100%;
    height: 50%;
    /* background-color: slateblue; */
  }
  #btn1 {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #00bbf0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: all ease-in-out 0.4s;
  }
  #btn2 {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #00bbf0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: all ease-in-out 0.4s;
  }
  .page4-healine {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .page4-container1 {
    width: 100%;
    height: calc(100% - 10%);
    /* background-color: blue; */
  }
  .profile-container {
    width: 90%;
    height: 70%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: peachpuff; */
  }
  .profile1 {
    width: 45%;
    height: 45%;
    /* background-color: sienna; */
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-col .social-links a img {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
}
