@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #190e68;
}
#page2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: pink;
}
#page3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: yellow;
}
#page4 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: salmon;
}
#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #190e68;
}
.nav1 {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.nav1 h3 {
  padding: 0 15px;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
}
.nav2 {
  /* width: 100%; */
  position: relative;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav2 ul {
  width: 100%;
  list-style: none;
}
.nav2 li {
  width: auto;
  float: left;
  position: relative;
}
.nav2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 15px;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.page1-container1 {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  /* background-color: pink; */
}
.page1-container1-part1 {
  width: 50%;
  height: 100%;
  position: relative;
  /* background-color: blue; */
}
.page1-container1-part2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  /* background-color: blueviolet; */
}
.page1-part1-text {
  position: absolute;
  top: 33%;
  left: 10%;
}
.page1-part1-text h1 {
  font-size: clamp(0.875rem, -1rem + 4vw, 1.75rem);
  color: white;
}
.page1-part1-text p {
  color: white;
  padding: 10px 0;
  font-size: clamp(0.5rem, -0.5714rem + 2.2857vw, 1rem);
}
#btn1 {
  background-color: #00bbf0;
  color: white;
  width: 160px;
  cursor: pointer;
  height: 40px;
  border: none;
  margin-top: 10px;
  transition: all ease-in-out 0.4s;
}
#btn1:hover {
  opacity: 0.7;
}
.img-container1 {
  width: 80%;
  height: 80%;
  position: relative;
  /* background-color: white; */
}
.img-container1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 1s;
  animation: upDown linear infinite 5s;
}
@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

/* Mobile View */

@media only screen and (max-width: 768px) {
  .nav2 ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav2 ul.active {
    display: flex;
    flex-direction: column;
    left: 0;
  }

  .nav2 li {
    width: auto;
    float: left;
    position: relative;
  }
  .nav2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: start;
    text-align: center;
    padding: 10px 15px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .page1-container1 {
    width: 100%;
    height: calc(100% - 80px);
    display: block;
    /* background-color: pink; */
  }
  .page1-container1-part1 {
    width: 100%;
    height: 50%;
    /* background-color: blue; */
  }
  .page1-container1-part2 {
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
  }
}
